<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
   <meta name="generator" content="Hugo 0.84.0">
   <title>Home</title>

   {% load static %}
   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

   <!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
   <!-- <link href="navbar-top.css" rel="stylesheet"> -->
</head>

<body>

   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
         <a class="navbar-brand" href="{% url 'index' %}">Top navbar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'karyawan' %}"> Karyawan</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'kamar' %}">Kamar</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'pengunjung' %}">Pengunjung</a>
               </li>
            </ul>
            <form class="d-flex">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
         </div>
      </div>
   </nav>

   <main class="container">
      <h2 class="text-center mt-5 mb-4">Kamar</h2>
      <div class="row justify-content-center">
         <div class="table-responsive col-12">
            <table class="table table-striped table-sm">
               <thead>
                  <tr>
                     <th scope="col">No</th>
                     <th scope="col">Nama</th>
                     <th scope="col">Alamat</th>
                     <th scope="col">Jenis Kelamin</th>
                     <th scope="col">No Telp</th>
                  </tr>
               </thead>
               <tbody>
                  {% for data in pe %}
                  <tr>
                     <td>{{ data.id }}</td>
                     <td>{{ data.nama }}</td>
                     <td>{{ data.alamat }}</td>
                     <td>{{ data.jenis_kelamin }}</td>
                     <td>{{ data.no_telp }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </main>


   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>